.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans'
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    padding: 1em;
    border-radius: 3px;
    background: rgba(147, 128, 108, 0.1);
  }
}