<header style="font-family: Jura; font-size: xx-large; text-align: center;">Ian Ridsdill</header>
  <div class="HolyGrail-body">
    <main class="HolyGrail-content">
      <mat-grid-list cols="2" gutterSize="16px">
        <mat-grid-tile>new and improved! now built on&nbsp;<a target="_blank" href="https://angular.io/">Angular</a>.</mat-grid-tile>
        <mat-grid-tile>free artwork from <a href="_blank" href="https://undraw.co/">https://undraw.co/</a></mat-grid-tile>
        <mat-grid-tile>Son</mat-grid-tile>
        <mat-grid-tile>Father</mat-grid-tile>
        <mat-grid-tile>see gitlab project&nbsp;<a target="_blank" href="https://gitlab.com/ianridsdill/ianridsdill.ca">here</a>.</mat-grid-tile>
      </mat-grid-list>
    </main>
    <nav class="HolyGrail-nav">
      <mat-grid-list cols="2">
        <mat-grid-tile>Redux</mat-grid-tile>
        <mat-grid-tile>angular material</mat-grid-tile>
        <mat-grid-tile>npm/gulp</mat-grid-tile>
        <mat-grid-tile>Cold Fusion</mat-grid-tile>
        <mat-grid-tile>web sockets / SignalR</mat-grid-tile>
        <mat-grid-tile>mongodb</mat-grid-tile>
        <mat-grid-tile>PostgreSQL</mat-grid-tile>
        <mat-grid-tile>nodejs</mat-grid-tile>
        <mat-grid-tile>django?</mat-grid-tile>
        <mat-grid-tile>Rails (RoR)</mat-grid-tile>
        <mat-grid-tile>React</mat-grid-tile>
        <mat-grid-tile>.NET for Linux</mat-grid-tile>
        <mat-grid-tile>Raspberry Pi project. rasp camera pointing to pi.</mat-grid-tile>
        <mat-grid-tile>
          <p>cool patterns and backgrounds and colour stuff</p>
          <p>https://www.toptal.com/designers/subtlepatterns/page/20/</p>
        </mat-grid-tile>
      </mat-grid-list>
    </nav>
    <aside class="HolyGrail-ads">
      my ads here
    </aside>
  </div>
  <footer>
    <mat-grid-list cols="5">
      <mat-grid-tile>2803 Winterhaven Ave, Sudbury, ON, P3G1B6</mat-grid-tile>
      <mat-grid-tile>705-562-2010</mat-grid-tile>
      <mat-grid-tile>resume PDF, printable HTML</mat-grid-tile>
        <mat-grid-tile>LinkedIn</mat-grid-tile>
      <mat-grid-tile>location map logging visitor visits by location</mat-grid-tile>
    </mat-grid-list>
  </footer>




