<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Ian Ridsdill</h1>
					<h2>Software Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" target="_blank" href="../assets/pdf/ian_ridsdill_2019_01_01_resume.pdf">Download PDF</a></h3>
            <h3><a href="mailto:ian.ridsdill@gmail.com">ian@ianridsdill.ca</a></h3>
						<div class="linkIcons">
							<a target="_blank" href="https://ca.linkedin.com/in/ian-ridsdill-9b91a926"><img src="../assets/images/icon/iconmonstr-linkedin-3.svg" /></a>
							<a target="_blank" href="https://gitlab.com/ianridsdill/ianridsdill.ca"><img src="../assets/images/icon/gitlab-icon.svg" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Developer offering development of new products, maintenance of existing code bases, QA testing, and documentation.
							</p>
						</div>
					</div>

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Front End</h2>
									<p>Produce responsive user experiences for browser, desktop, and mobile using <a class="talentLink" target="_blank" href="https://material.io/">Material Design</a>.</p>
								</div>

								<div class="talent">
									<h2>Back End</h2>
									<p>Design robust backend APIs and data storage solutions using relational and document-oriented databases.</p>
								</div>

								<div class="talent">
									<h2>Security</h2>
									<p>Create secure links between client and server operations using <a class="talentLink" target="_blank" href="https://en.wikipedia.org/wiki/Transport_Layer_Security">SSL encryption</a> and <a class="talentLink" target="_blank" href="https://jwt.io/">JSON Web Tokens</a>.</p>
								</div>
						</div>
					</div>

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Stack</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li><a class="talentLink" target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2">ASP.NET Core</a></li>
								<li><a class="talentLink" target="_blank" href="https://angular.io/">Angular</a></li>
								<li class="last"><a class="talentLink" target="_blank" href="https://nodejs.org/en/">Node.js</a></li>
							</ul>

							<ul class="talent">
								<li><a class="talentLink" target="_blank" href="https://www.docker.com/">Docker</a></li>
								<li><a class="talentLink" target="_blank" href="https://git-scm.com/">git</a></li>
								<li class="last"><a class="talentLink" target="_blank" href="https://dotnet.microsoft.com/">.NET</a></li>
							</ul>

							<ul class="talent">
								<li><a class="talentLink" target="_blank" href="https://angularjs.org/">AngularJs</a></li>
								<li><a class="talentLink" target="_blank" href="https://www.mongodb.com/">mongob</a></li>
								<li class="last"><a class="talentLink" target="_blank" href="https://material.angular.io/">Material</a></li>
							</ul>
						</div>
					</div>
					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div>

						<div class="yui-u">

							<div class="job">
								<h2><a class="talentLink" targert="_blank" href="http://www.hard-line.com/">Hard-Line Solutions</a></h2>
								<h3>Software Developer</h3>
								<h4>2017 - present</h4>
								<p>Created portable video monitoring solution using C#, BOSCH Video SDK, and PoE IP cameras. Development of self-contained web applications using .NET Core 2.0 and Docker backend with Angular front-end.</p>
							</div>

							<div class="job">
								<h2><a class="talentLink" target="_blank" href="http://centricminingsystems.com/">Centric Mining Systems</a></h2>
								<h3>Application Developer</h3>
								<h4>2015 - 2016</h4>
								<p>Developed new products for logging geological exploration data and for performing cost reconciliation. Maintained existing products by performing bug fixes, implementing new features, and performing QA testing. </p>
							</div>

							<div class="job">
								<h2><a class="talentLink" target="_blank" href="http://www.dataminesoftware.com/">Datamine Software</a></h2>
								<h3>Systems Consultant</h3>
								<h4>2012 - 2015</h4>
								<p>Traveled to client mine sites both in Canada and internationally for software implementation
										and training in both English and French.
										Completed billable projects including developing custom software applications, writing SQL
										scripts, and designing Crystal Report documents.
										Worked with the development team to plan out new features, log bugs, and test service packs.
										Responsible for in-office IT support duties including building new servers, user account
										administration, software and hardware troubleshooting, and preparing equipment for new
										hires. </p>
							</div>


							<div class="job">
								<h2><a class="talentLink" target="_blank" href="http://www.bestech.com/">BESTECH</a></h2>
								<h3>Software Developer</h3>
								<h4>2009 - 2012</h4>
								<p>Member of the core development team for <a class="talentLink" target="_blank" href="http://www.bestech.com/project/nrg1-eco/">NRG1-ECO</a>, a mine-wide energy optimization
										solution. 
										Duties include development of new software applications and services, maintenance of existing
										products, client support, and preparation of marketing material.
										Participated in every aspect of developing a new product. This includes the initial planning and
										design, implementation/development, testing, and commissioning of the product. </p>
							</div>

							<div class="job last">
									<h2><a class="talentLink" target="_blank" href="https://www.sno.phy.queensu.ca/">Sudbury Neutrino Observatory</a></h2>
									<h3>Programmer (Co-op placement)</h3>
									<h4>2006</h4>
									<p>Developed a new database application for storing and versioning of neutrino detector related
											documents.
											Assisted with the relocation of the server room used to store neutrino detector data. Task
											involved careful relocation of sensitive servers, RAID arrays, and UPS backup units. </p>
								</div>

						</div>
					</div>

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Languages</h2>
						</div>
						<div class="yui-u">
							<div class="job last">
								<h2>Rainbow District School Board</h2>
								<h3>French Immersion Bilingual Certificate</h3>
								<h4>2003</h4>
							</div>
						</div>
					</div>

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<div class="job last">
								<h2>Laurentian University</h2>
								<h3>B. Cosc Computer Science</h3>
								<h4>2008</h4>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

		<div id="ft">
			<p>Ian Ridsdill &mdash; <a href="mailto:ian@ianridsdill.ca">ian@ianridsdill.ca</a></p>
		</div>

	</div>
</div>




